table {
  border: 1px solid #69c;
  margin: auto;
}

th {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  background: #b9c9fe;
  border-top: 4px solid #aabcfe;
  border-bottom: 1px solid #fff;
  color: #039;
  padding: 8px;
}
td {
  width: 200px;
  font-size: 16px;
  text-align: center;
  font-weight: normal;
  text-transform: capitalize;
  background: #e8edff;
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

tr:hover td {
  background: #ccddff;
}
